.carousel-inner {
    width: 300px;
    height: 500px;
    
}

.display-4 {
    background-color: turquoise;
    text-align: center;
    
}

.lead {
    background-color: violet;
    text-align: center;
}

.nav {
    
    font-weight: bold;
    font-size: large;
    font-style: oblique;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.nav {
    background-color:pink
}

